html{
background-color:#aaaaaa;
}
.header{
background-color:#7ec0ee;
text-align:center;
width:1500px;
margin-left:auto;
margin-right:auto;
border-radius:0px 10px;
}
.logo{
height:200px;
}
.skills{
width:1500px;
margin-left:auto;
margin-right:auto;
}

#skilllist{
float:left;
width:600px;
background-color:#7ec0ee;
text-align:center;
list-style-type:none;
border-radius:0px 10px;
}
#langlist{
float:left;
width:600px;
background-color:#7ec0ee;
position:relative;
left:220px;
text-align:center;
list-style-type:none;
border-radius:0px 10px;
}
.projects{
background-color:#7ec0ee;
padding-top:10px;
padding-bottom:10px;
width:640px;
position:relative;
top:-110px;
float:left;
border-radius:0px 10px;
}
.info{
width:1500px;
margin-left:auto;
margin-right:auto;
}

.links{float:left;
width:600px;
background-color:#7ec0ee;
position:relative;
left:220px;
border-radius:0px 10px;
}
.projectList{
text-align:center;
list-style-type:none;
}
.description{
}
.linkedin{
width:50px;
}
.contactList{
background-color:#7ec0ee;
padding-top:10px;
padding-bottom:10px;
float:left;
position:relative;
left:220px;
width:600px;
border-radius:0px 10px;
}
embed{
display:block;
margin-left:auto;
margin-right:auto;
width:500px;
height:400px;
}
.linkList{
background-color:#7ec0ee;
padding-top:10px;
padding-bottom:10px;
float:left;
width:600px;
position:relative;
left:220px;
border-radius:0px 10px;
}
.resume{
background-color:#7ec0ee;
padding-top:10px;
padding-bottom:10px;
float:left;
position:relative;
left:220px;
width:640px;
}
.proImage{
height:140px;
border-radius:0px 10px;
}